body, button, input, select, textarea {
  font-family: Raleway, sans-serif;
}

#mapid { height: 360px; }

.testimonies {
  color: #fafafa;
}

.testimonies .title {
  color: #fafafa;
}

.image.has-image-centered {
  left: 33%;
}

.pacifico {
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
  
}

.ecobox {
  background: #1a1a1a;
}

#video{
 position: relative;
 background: transparent;
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
}


.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #279B78;
  color: #fafafa;
}

.navbar-item img {
  min-height: 4.75rem;
}

@media screen and (min-width: 769px), print {
  .hero.is-medium .hero-body {
    padding-bottom: 14rem;
    padding-top: 14rem;
}
  .hero.is-medium .hero-body .owner-hero {
    padding-bottom: 12rem;
    padding-top: 12rem;
  }
}


@media screen and (min-width: 1024px) {
.navbar {
  min-height: 4.25rem;
}
}

.or-check {
  padding-left:5px;
}
.or-check li {
  list-style-image: url('../images/habitaciones/checkmark.png');
}

.center-figure .is-half figure {
  margin: 0 0 6px 41.8%;
} 

.center-figure .is-one-quarter figure {
  margin: 0 0 6px 39%;
}

.center-figure figure{
  margin: 0 0 6px 36%;
}

.invert {
  filter: invert(100%);
}
div.horizontal-widget {
  margin-left: 40%;
  padding-bottom: 13px;
}
.button {
  background: initial;
}

.push div {
  margin-bottom: 2rem;
}

.bgVid {
  z-index: 0!important;
}

a[href^="https://www.facebook.com/EntrePinosEcoBox"] {
  color: white;
  font-size:1.5em;
}

a[href^="https://www.instagram.com/entrepinos.eco/"] {
  color: white;
  font-size:1.5em;
}

a[href^="http://sensemkt.com"] {
  color: white;
  text-decoration: underline;
}

a[href^="assets/files/avisolegal.pdf"] {
  color: white;
  text-decoration: underline;
}